# ====================
# Configuração do Banco de Dados
# ====================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=8643
POSTGRES_DB=MeuPlantaoDB
POSTGRES_PORT=5432

# ====================
# Configuração do Backend
# ====================
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

# ====================
# JWT Configurations
# ====================
JWT_KEY=X7k#mP9$qR2@nL5&wJ8!vD4^hF6*yA3z
JWT_ISSUER=MeuPlantao
JWT_AUDIENCE=MeuPlantaoUsers
JWT_EXPIRES_IN_HOURS=8
